
.app-header {
    background-color: var(--header-background-color) !important;
    width: 100%;
    color: white !important;
}

.logo {
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}