.page-header {
    background-color: transparent !important;
    padding: 4rem 2rem 2rem;

    h3 {
        color: black;
        text-align: left;
        padding: 10px;
    }

    .header-toolbar {
        gap: 1em; 
        margin-left: auto;
    }
}