@import 'antd/dist/reset.css';
@import './overrides.scss';
@import './variables.scss';

html::-webkit-scrollbar{
    width: 12px;
}

html::-webkit-scrollbar-track{
    background: #282c34;
    box-shadow: inset 0 0 40px 5px rgb(48, 47, 51);
}

html::-webkit-scrollbar-thumb{
    background: #16181b;
}

html::-webkit-scrollbar-thumb:hover{
    background: #15151a
}

.ha-layout {
    height: 100vh;
    width: 100vw;
    overflow: hidden;  
}

.ha-v-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.align-center {
        align-items: center;
    }
    &.align-left {
        align-items: flex-start;
    }
    &.align-right {
        justify-content: flex-end;
    }
}

.ha-h-flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    &.align-center {
        justify-content: center;
    }
    &.align-left {
        justify-content: flex-start;
    }
    &.align-right {
        justify-content: flex-end;
    }
}

