:root {
    --header-bg-color: #1A120B;
    --sider-menu-bg-color: #333333;
    --menu-avatar-hover-bg-color: #173d4e;
    --sublink-menu-bg-color: #2c2c2c;
    --scrollbar-box-shadow: #141414;
    --scrollbar-thumb: #1f2020;
    --scrollbar-thumb-hover: #3f3f41;
    --color-dark-red: #991111;
    --color-dark-green: #119911;
    --color-grey: #999999;
    --color-light-grey: #d3d3d3;
    --color-blue-1: #6acbff;
}
