:root {
    --header-background-color: #1A120B;
    --sider-menu-color: #333333;
    --color-dark-red: #991111;
    --color-dark-green: #119911;
    --color-grey: #999999;
    --color-light-grey: #d3d3d3;
}
