:root {
    --header-bg-color: #1A120B;
    --sider-menu-bg-color: #333333;
    --menu-avatar-hover-bg-color: #173d4e;
    --sublink-menu-bg-color: #2c2c2c;
    --scrollbar-box-shadow: #141414;
    --scrollbar-thumb: #1f2020;
    --scrollbar-thumb-hover: #3f3f41;
}
