#sider {
    background-color: var(--sider-menu-bg-color);
    min-width: calc(40px + 2em) !important;
    width: calc(40px + 2em) !important;
    max-width: calc(40px + 2em) !important;
    &.expanded {
        min-width: calc(40px + 12em) !important;
        width: calc(40px + 12em) !important;
        max-width: calc(40px + 12em) !important;
    }
    transition: width 300ms ease-in-out;
}

.panel-content {
    overflow-y: auto;
    transition: width 300s ease-in;
}