#sider {
    background-color: var(--sider-menu-bg-color);
    min-width: calc(40px + 2em) !important;
    width: calc(40px + 2em) !important;
    max-width: calc(40px + 2em) !important;
    &.expanded {
        min-width: calc(40px + 12em) !important;
        width: calc(40px + 12em) !important;
        max-width: calc(40px + 12em) !important;
    }
    transition: width 250ms ease-in-out;
}

.panel-content {
    overflow-y: auto
}

.panel-content::-webkit-scrollbar{
    width: 1em;
}

.panel-content::-webkit-scrollbar-track{
    box-shadow: inset 0 0 40px 5px var(--scrollbar-box-shadow);
}

.panel-content::-webkit-scrollbar-thumb{
    background: var(--scrollbar-thumb);
    border-radius: 20px;
}

.panel-content::-webkit-scrollbar-thumb:hover{
    background: var(--scrollbar-thumb-hover);
}