.wrapper {
    display: flex;
    justify-content: center;
    padding: 4em;
}

.acticities-container-card {
    max-width: 100em;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    
    .activity-card {
        width: 40em;
        max-width: 40em;
        margin-bottom: 20px;
        font-size: 12px;

        .activity-card-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            .activity-card-author {
                padding: 0 10px;
                border-left: 1px solid var(--color-grey);
            }

            &.current-user-author {
                .activity-card-author {
                    display: none;
                }
            }
        }

        .activity-card-category {
            text-align: right;
            padding: 2px 10px;
            border-bottom: 1px solid var(--color-light-grey);
            margin-bottom: 14px;
        }
    }
}